<div class="container">
	<div class="row profile">
		{{> navbarStudent}}
		<div class="col-md-9">
			<div class="profile-content">
				<h3>Student Information</h3>
				<div class="row-content">
					<div class="col-content">
						<p>Name:</p>
					</div>
					<div class="col-content">
						<p>{{this.user.userName}}</p>
					</div>
				</div>
				<div class="row-content">
					<div class="col-content">
						<p>Email:</p>
					</div>
					<div class="col-content">
						<p>{{this.user.email}}</p>
					</div>
				</div>
				<div class="row-content">
					<div class="col-content">
						<p>Password:</p>
					</div>
					<div class="col-content">
						<p>**********</p>
					</div>
				</div>
				<div class="row-content">
					<div class="col-content">
						<p>Phone number:</p>
					</div>
					<div class="col-content">
						<p>{{this.user.phone}}</p>
					</div>
				</div>
				<div class="row-content">
					<div class="col-content">
						<p>Age:</p>
					</div>
					<div class="col-content">
						<p>{{this.user.age}}</p>
					</div>
				</div>
				<div class="row-content">
					<div class="col-content">
						<p>Degree:</p>
					</div>
					<div class="col-content">
						<p>{{this.user.degree}}</p>
					</div>
				</div>
				<div class="row-content">
					<div class="col-content">
						<p>Address:</p>
					</div>
					<div class="col-content">
						<p>{{this.user.address}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	document.querySelector(".nav-link.active").classList.remove("active");
	document.querySelector(".nav-link.profile-student").classList.add("active");
	document.querySelector(".navbar-profile.active").classList.remove("active")
	document.querySelector(".details-student.navbar-profile").classList.add("active")
</script>
<br>
<br>
{{!-- <script src="/js/profileStudent.js"></script> --}}