<div class="container">
	<div class="row profile">
		{{> hello}}
		<div class="col-md-9">
			<div class="profile-content">
				<h3>Student Information</h3>
				<div class="row-content">
					<div class="col-content">
						<p>Name:</p>
					</div>
					<div class="col-content">
						<p>{{this.user.userName}}</p>
					</div>
				</div>
				<div class="row-content">
					<div class="col-content">
						<p>Email:</p>
					</div>
					<div class="col-content">
						<p>{{this.user.email}}</p>
					</div>
				</div>
				<div class="row-content">
					<div class="col-content">
						<p>Password:</p>
					</div>
					<div class="col-content">
						<p>**********</p>
					</div>
				</div>
				<div class="row-content">
					<div class="col-content">
						<p>Phone number:</p>
					</div>
					<div class="col-content">
						<p>{{this.user.phone}}</p>
					</div>
				</div>
				<div class="row-content">
					<div class="col-content">
						<p>Age:</p>
					</div>
					<div class="col-content">
						<p>{{this.user.age}}</p>
					</div>
				</div>
				<div class="row-content">
					<div class="col-content">
						<p>Degree:</p>
					</div>
					<div class="col-content">
						<p>{{this.user.degree}}</p>
					</div>
				</div>
				<div class="row-content">
					<div class="col-content">
						<p>Address:</p>
					</div>
					<div class="col-content">
						<p>{{this.user.address}}</p>
					</div>
				</div>
			</div>
			{{!-- <div class="card-footer bg-transparent">
				<a name="" id="" class="btn btn-primary" href="/profile/student/edit" role="button"
					style="min-width: 150px;background-color:#5b9bd1;">Edit Profile</a>
			</div> --}}
		</div>
	</div>
</div>

<br>
<br>
<script src="/js/profileStudent.js"></script>