<div class="container">
	<div class="row profile">
		{{> navbarStudent}}
		<div class="col-md-9">
			<div class="profile-content">
				<h3>Student Information</h3>
				<div class="row-content">
					<div class="col-content">
						<p>Name:</p>
					</div>
					<div class="col-content">
						<input type="text" id="user-name-student" value="{{this.user.userName}}">
					</div>
				</div>
				<div class="row-content">
					<div class="col-content">
						<p>Email:</p>
					</div>
					<div class="col-content">
						<p>{{this.user.email}}</p>
					</div>
				</div>
				<div class="row-content">
					<div class="col-content">
						<p>Age:</p>
					</div>
					<div class="col-content">
						<input type="text" id="age-student" value="{{this.user.age}}">
					</div>
				</div>
				<div class="row-content">
					<div class="col-content">
						<p>Degree:</p>
					</div>
					<div class="col-content">
						<input type="text" id="degree-student" value="{{this.user.degree}}">
					</div>
				</div>
				<div class="row-content">
					<div class="col-content">
						<p>Phone Number:</p>
					</div>
					<div class="col-content">
						<input type="text" id="phone-student" value="{{this.user.phone}}">
					</div>
				</div>
				<div class="row-content">
					<div class="col-content">
						<p>Address:</p>
					</div>
					<div class="col-content">
						<input type="text" id="address-student" value="{{this.user.address}}">
					</div>
				</div>
			</div>
			<div class="card-footer bg-transparent">
				<a name="" id="btn-edit-profile-student" class="btn btn-primary" href="#" role="button"
					style="min-width: 150px;background-color:#5b9bd1;">Edit Profile</a>
			</div>
		</div>
	</div>
</div>

<br>
<br>
<script>
	document.querySelector(".nav-link.active").classList.remove("active");
	document.querySelector(".nav-link.profile-student").classList.add("active");
	document.querySelector(".navbar-profile.active").classList.remove("active")
	document.querySelector(".edit-profile.navbar-profile").classList.add("active")
</script>
<script src="/js/editProfileStudent.js"></script>