<div class="container">
    <div class="row profile">
        {{> navbarStudent}}
        <div class="col-md-9">
            <div class="profile-content-course">
                <h3 style="width:100%;height:100%">My Wishlist</h3>
                {{#each this.user.wishlist }}
                <div class="wishlist-card" id="{{this._id}}">
                    <a href="/course/{{this._id}}" id="#card" style="text-decoration: none;">
                        <div class="card-mycourse-wishlist">
                            <div class="course-card-wishlist">
                                <button id="btn-delete-wishlist-item"
                                    style="position: absolute; top:-15px;right:-15px; color:red; padding:10px;border-radius:50%; cursor:pointer;outline:none;"><i
                                        class="fas fa-times"></i></button>
                                <img width="230" height="150" src={{this.image}}>
                                <div class="course-card-detail">
                                    <div class="my-course-name">{{this.name}}</div>
                                    <span>{{this.teacher.userName}}</span>
                                    <div class=" text-warning">
                                        {{#times this.rating}}
                                        <i class="fa fa-star"></i>
                                        {{/times}}
                                    </div>
                                    <div class="my-course-price">
                                        <div class="origin-price"><span>{{this.price}}</span></div>
                                        {{!-- <div class="sale-price"><span>$15</span></div> --}}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
<script>
    document.querySelector(".nav-link.active").classList.remove("active");
    document.querySelector(".nav-link.profile-student").classList.add("active");
    document.querySelector(".navbar-profile.active").classList.remove("active")
    document.querySelector(".wishlist.navbar-profile").classList.add("active")
</script>
<script type="module" src="/js/wishlist.js"></script>