<div>
    <div>
        <h2 style="margin-left: 50px;margin-top:20px">Favorite Courses</h2>
        <div class="d-flex flex-row flex-wrap" id="list-item">
            {{#each this.favoriteCourses}}
            <a href="/course/{{this._id}}" style="text-decoration: none; color:black; font-size:15px; padding-top:10px">
                <div class="d-flex flex-column flex-wrap mr-4 item-course">
                    <div style="font-size:25px;color:#374151"><b>{{this.name}}</b></div>
                    <div>Lĩnh vực: {{this.field}}</div>
                    <img src="{{this.image}}" />
                    <div class="author-name">Tác giả: {{this.teacher.userName}}</div>
                    <div>
                        {{#times this.rating }}
                        <i class="fa fa-star" style="color:rgba(248, 211, 0, 0.849)"></i>
                        {{/times}}
                    </div>
                    <div style="color: gray;">
                        <div>Số lượng người mua: {{this.student.length}}</div>
                        <div><b>Giá: {{this.price}}</b></div>
                        <div>Views: {{this.numViews}} <i style="margin-left: 2px;" class="fas fa-eye"></i></div>
                    </div>
                    <div>
                        <img src="/icon/like.png" style="max-width:100%;max-height:30px;margin-left:85%">

                    </div>
                    <label for=""> {{this.field}}</label>
                </div>
            </a>
            {{/each}}
        </div>
    </div>
    <div>
        <h2 style="margin-left: 50px;">Most Views Courses</h2>
        <div class="d-flex flex-row flex-wrap" id="list-item">
            {{#each this.mostViewCourses}}
            <a href="/course/{{this._id}}" style="text-decoration: none;color:black; font-size:15px;">
                <div class="d-flex flex-column flex-wrap mr-4 item-course">
                    <div style="font-size:25px;color:cornflowerblue">Tên bài giảng:{{this.name}}</div>
                    <div>Lĩnh vực:{{this.field}}</div>
                    <img src="{{this.image}}" />
                    <div>Tác giả:{{this.teacher.userName}}</div>
                    <div>
                        {{#times this.rating }}
                        <i class="fa fa-star" style="color:rgba(248, 211, 0, 0.849)"></i>
                        {{/times}}
                    </div>
                    <div style="color: gray;">
                        <div>Số lượng người mua: {{this.student.length}}</div>
                        <div>Giá: {{this.price}}</div>
                        <div>Views: {{this.numViews}} <i style="margin-left: 2px;" class="fas fa-eye"></i></div>
                    </div>
                    <div>
                        <img src="/icon/hot.png" style="max-width:100%;max-height:30px;margin-left:85%">
                    </div>
                </div>
            </a>
            {{/each}}
        </div>
    </div>
    <div>
        <h2 style="margin-left: 50px;">New Courses</h2>
        <div class="d-flex flex-row flex-wrap " id="list-item" style="display: flex;">
            {{#each this.newCourses}}

            <a href="/course/{{this._id}}" style="text-decoration: none;color:black; font-size:15px;">
                <div class="d-flex flex-column flex-wrap mr-4 item-course">
                    <div style="font-size:25px;color:cornflowerblue">Tên bài giảng:{{this.name}}
                    </div>
                    <div>Lĩnh vực:{{this.field}}</div>
                    <img src="{{this.image}}" />
                    <div>Tác giả:{{this.teacher.userName}}</div>
                    <div>
                        {{#times this.rating }}
                        <i class="fa fa-star" style="color:rgba(248, 211, 0, 0.849)"></i>
                        {{/times}}
                    </div>
                    <div style="color: gray;">
                        <div>Số lượng người mua: {{this.student.length}}</div>
                        <div>Giá: {{this.price}}</div>
                        <div>Views: {{this.numViews}} <i style="margin-left: 2px;" class="fas fa-eye"></i></div>
                    </div>
                    <div>
                        <img src="/icon/new.png" style="max-width:100%;max-height:30px;margin-left:85%">
                    </div>
                </div>
            </a>

            {{/each}}


        </div>
    </div>

    <div>
        <h2 style="margin-left: 50px;">Best Category</h2>
        <div style="margin-left:20px;border-top: rgb(179, 178, 178) 2px solid;width:80%;">
            {{#each this.bestCategory}}
            <li style="font-weight:500;margin-left: 50px;margin-top:10px;list-style-type: circle;">{{this}}</li>
            {{/each}}
        </div>
    </div>
</div>
<script>
    document.querySelector(".nav-link.active").classList.remove("active");
    document.querySelector(".nav-link.home").classList.add("active");
    {
        {
            !-- const activities = document.getElementById("filter");
            activities.addEventListener("change", function () {
                if (activities.value == "rating") {
                    alert("Rating");
                }
                if (activities.value == "price") {
                    alert("Price");
                }
            }); --}
    }

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
    crossorigin="anonymous"></script>