<div>
    <div>
        <h2 style="margin-left: 50px;margin-top:20px">Favorite Courses</h2>

        <div class="d-flex flex-row flex-wrap" id="list-item">
            {{#each this.favoriteCourses}}
            <a href="/course/{{this._id}}" style="text-decoration: none; color:black; font-size:15px; padding-top:10px">
                <div class="d-flex flex-column flex-wrap mr-4 item-course">
                    <img src="{{this.image}}" />
                    <div style="font-size:25px;color:#374151"><b>{{this.name}}</b></div>

                    <div class="author-name">Tác giả: {{this.teacher.userName}}</div>
                    <div>
                        {{#times this.rating }}
                        <i class="fa fa-star" style="color:rgba(248, 211, 0, 0.849)"></i>
                        {{/times}}
                    </div>
                    <div style="color: gray;">
                        <div>Số lượng người mua: {{this.student.length}}</div>
                        <span><b>$ {{this.price}}</b></span>
                        <span style="margin-left:30px">{{this.numViews}} <i style="margin-left: 2px;"
                                class="fas fa-eye"></i></span>
                    </div>
                    <div>
                        <img src="/icon/like.png" style="max-width:100%;max-height:30px;margin-left:85%">

                    </div>
                    <div class="tag">
                        <label style="color: #374151;" for="">{{this.field}}</label>
                    </div>
                    {{!-- <label for=""> {{this.field}}</label> --}}
                </div>
            </a>
            {{/each}}
        </div>
        <nav aria-label="..." >
        <ul class="pagination center" id="pageFavContainer">
            <li id="btnFavFirst" class="page-item">
                <a class="page-link" href="/1" >First</a>
            </li>
            <li class="page-item" id="btnFavBefore"><a class="page-link" href="#" ></a></li>
            <li class="page-item active">
                <a class="page-link" href="#" id="btnFavCurrentPage"><span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item" id="btnFavAfter"><a class="page-link" href="#"></a></li>
            <li class="page-item" id="btnFavLast">
                <a class="page-link" href="#">Last</a>
            </li>
        </ul>
    </nav>
    <script>
        var currentPage = "{{ currentFavPage }}";
        var currentNewCoursesPage = "{{ currentNewCoursesPage }}";
        var currentMostCoursesPage = "{{ currentMostViewPage }}";

        var href = 'favpage=1';

        if(currentMostCoursesPage > 1) {
            href = href + '&' + 'mostviewpage=' + currentMostCoursesPage;
        }
        if(currentNewCoursesPage > 1) {
            href = href + '&' + 'newcoursespage=' + currentNewCoursesPage;
        }
        href = '?' + href;

        String.prototype.splice = function(idx, rem, str) {
            return this.slice(0, idx) + str + this.slice(idx + Math.abs(rem));
        };

        var pageIndexLocation = href.indexOf('favpage=') + 'favpage='.length;

        var currentIndex = document.getElementById("btnFavCurrentPage");
        currentIndex.appendChild(document.createTextNode(currentPage));
        var current = href;
        current = current.splice(pageIndexLocation, 1, currentPage);
        currentIndex.setAttribute("href", current);

        if(currentPage == 1) {
            document.getElementById("btnFavFirst").setAttribute("class", "page-item disabled");
            document.getElementById("btnFavBefore").remove();
        } else {
            var first = href.splice(pageIndexLocation, 1, '1');
            document.getElementById("btnFavFirst").childNodes[1].setAttribute("href", first);

            var beforePage = href.splice(pageIndexLocation, 1, parseInt(currentPage)-1);
            document.getElementById("btnFavBefore").childNodes[0].setAttribute("href", beforePage);
            document.getElementById("btnFavBefore").childNodes[0].appendChild(document.createTextNode(parseInt(currentPage)-1));
        }
        var numPage = "{{favPageTotal}}";
        if(currentPage >= numPage) {
            document.getElementById("btnFavAfter").remove();
            document.getElementById("btnFavLast").setAttribute("class", "page-item disabled");
        } else {
            var last = href.splice(pageIndexLocation, 1, parseInt(numPage) + 1);
            var after = href.splice(pageIndexLocation, 1, parseInt(currentPage)+1);

            document.getElementById("btnFavLast").childNodes[1].setAttribute("href", last);
            document.getElementById("btnFavAfter").childNodes[0].setAttribute("href", after);
            document.getElementById("btnFavAfter").childNodes[0].appendChild(document.createTextNode(parseInt(currentPage)+1));
        }
      </script>
    </div>
    <div>
        <h2 style="margin-left: 50px;">Most Views Courses</h2>
        <div class="d-flex flex-row flex-wrap" id="list-item">
            {{#each this.mostViewCourses}}
            <a href="/course/{{this._id}}" style="text-decoration: none;color:black; font-size:15px;">
                <div class="d-flex flex-column flex-wrap mr-4 item-course">
                    <div style="font-size:25px;color:#374151"><b>{{this.name}}</b></div>
                    <div style="color: #374151;" >Lĩnh vực:{{this.field}}</div>
                    <img src="{{this.image}}" />
                    <div style="color: #374151;">Tác giả:{{this.teacher.userName}}</div>
                    <div>
                        {{#times this.rating }}
                        <i class="fa fa-star" style="color:rgba(248, 211, 0, 0.849)"></i>
                        {{/times}}
                    </div>
                    <div style="color: gray;">
                        <div>Số lượng người mua: {{this.student.length}}</div>
                        <div>Giá: {{this.price}}</div>
                        <div>Views: {{this.numViews}} <i style="margin-left: 2px;" class="fas fa-eye"></i></div>
                    </div>
                    <div>
                        <img src="/icon/hot.png" style="max-width:100%;max-height:30px;margin-left:85%">
                    </div>
                </div>
            </a>
            {{/each}}
        </div>
        <nav aria-label="..." >
        <ul class="pagination center" id="pageContainer">
            <li id="btnFirst" class="page-item">
                <a class="page-link" href="#" >First</a>
            </li>
            <li class="page-item" id="btnBefore"><a class="page-link" href="#" ></a></li>
            <li class="page-item active">
                <a class="page-link" href="#" id="btnCurrentPage"><span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item" id="btnAfter"><a class="page-link" href="#"></a></li>
            <li class="page-item" id="btnLast">
                <a class="page-link" href="#">Last</a>
            </li>
        </ul>
    </nav>
    <script>
        var currentPage = "{{ currentMostViewPage }}";
        var currentNewCoursesPage = "{{ currentNewCoursesPage }}";
        var currentFavPage = "{{ currentFavPage }}";

        var currentIndex = document.getElementById("btnCurrentPage");

        var href = 'mostviewpage=1';

        if(currentFavPage > 1) {
            href = 'favpage=' + currentFavPage + '&' + href;
        }
        if(currentNewCoursesPage > 1) {
            href = href + '&' + 'newcoursespage=' + currentNewCoursesPage;
        }
        href = '?' + href;

        String.prototype.splice = function(idx, rem, str) {
            return this.slice(0, idx) + str + this.slice(idx + Math.abs(rem));
        };

        var pageIndexLocation = href.indexOf('mostviewpage=') + 13;

        currentIndex.appendChild(document.createTextNode(currentPage));
        var current = href;
        current = current.splice(pageIndexLocation, 1, currentPage);
        currentIndex.setAttribute("href", current);

        if(currentPage == 1) {
            document.getElementById("btnFirst").setAttribute("class", "page-item disabled");
            document.getElementById("btnBefore").remove();
        } else {
            var first = href.splice(pageIndexLocation, 1, '1');
            document.getElementById("btnFirst").childNodes[1].setAttribute("href", first);

            var beforePage = href.splice(pageIndexLocation, 1, parseInt(currentPage)-1);
            document.getElementById("btnBefore").childNodes[0].setAttribute("href", beforePage);
            document.getElementById("btnBefore").childNodes[0].appendChild(document.createTextNode(parseInt(currentPage)-1));
        }
        var numPage = "{{mostViewPageTotal}}";
        if(currentPage >= numPage) {
            document.getElementById("btnAfter").remove();
            document.getElementById("btnLast").setAttribute("class", "page-item disabled");
        } else {
            var last = href.splice(pageIndexLocation, 1, parseInt(numPage) + 1);
            var after = href.splice(pageIndexLocation, 1, parseInt(currentPage)+1);

            document.getElementById("btnLast").childNodes[1].setAttribute("href", last);
            document.getElementById("btnAfter").childNodes[0].setAttribute("href", after);
            document.getElementById("btnAfter").childNodes[0].appendChild(document.createTextNode(parseInt(currentPage)+1));
        }
      </script>
    </div>
    <div>
        <h2 style="margin-left: 50px;">New Courses</h2>
        <div class="d-flex flex-row flex-wrap " id="list-item" style="display: flex;">
            {{#each this.newCourses}}

            <a href="/course/{{this._id}}" style="text-decoration: none;color:black; font-size:15px;">
                <div class="d-flex flex-column flex-wrap mr-4 item-course">
                    <div style="font-size:25px;color:#374151"><b>{{this.name}}</b></div>
                    <div style="color: #374151;">Lĩnh vực:{{this.field}}</div>
                    <img src="{{this.image}}" />
                    <div style="color: #374151;">Tác giả:{{this.teacher.userName}}</div>
                    <div>
                        {{#times this.rating }}
                        <i class="fa fa-star" style="color:rgba(248, 211, 0, 0.849)"></i>
                        {{/times}}
                    </div>
                    <div style="color: gray;">
                        <div>Số lượng người mua: {{this.student.length}}</div>
                        <div>Giá: {{this.price}}</div>
                        <div>Views: {{this.numViews}} <i style="margin-left: 2px;" class="fas fa-eye"></i></div>
                    </div>
                    <div>
                        <img src="/icon/new.png" style="max-width:100%;max-height:30px;margin-left:85%">
                    </div>
                </div>
            </a>

            {{/each}}


        </div>
            <nav aria-label="..." >
        <ul class="pagination center" id="pageNewContainer">
            <li id="btnNewFirst" class="page-item">
                <a class="page-link" href="/1" >First</a>
            </li>
            <li class="page-item" id="btnNewBefore"><a class="page-link" href="#" ></a></li>
            <li class="page-item active">
                <a class="page-link" href="#" id="btnNewCurrentPage"><span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item" id="btnNewAfter"><a class="page-link" href="#"></a></li>
            <li class="page-item" id="btnNewLast">
                <a class="page-link" href="#">Last</a>
            </li>
        </ul>
    </nav>
    <script>
        var currentPage = "{{ currentNewCoursesPage }}";
        var currentMostCoursesPage = "{{ currentMostViewPage }}";
        var currentFavPage = "{{ currentFavPage }}";

        var href = 'newcoursespage=1';

        if(currentMostCoursesPage > 1) {
            href = 'mostviewpage=' + currentMostCoursesPage + '&' + href;
        }
        if(currentFavPage > 1) {
            href = 'newcoursespage=' + currentFavPage + '&' + href;
        }
        href = '?' + href;

        String.prototype.splice = function(idx, rem, str) {
            return this.slice(0, idx) + str + this.slice(idx + Math.abs(rem));
        };

        var pageIndexLocation = href.indexOf('newcoursespage=') + 15;

        var currentIndex = document.getElementById("btnNewCurrentPage");
        currentIndex.appendChild(document.createTextNode(currentPage));
        
        var current = href;
        current = current.splice(pageIndexLocation, 1, currentPage);
        currentIndex.setAttribute("href", current);

        if(currentPage == 1) {
            document.getElementById("btnNewFirst").setAttribute("class", "page-item disabled");
            document.getElementById("btnNewBefore").remove();
        } else {
            var first = href.splice(pageIndexLocation, 1, '1');
            document.getElementById("btnNewFirst").childNodes[1].setAttribute("href", first);
            var beforePage = href.splice(pageIndexLocation, 1, parseInt(currentPage)-1);
            document.getElementById("btnNewBefore").childNodes[0].setAttribute("href", beforePage);
            document.getElementById("btnNewBefore").childNodes[0].appendChild(document.createTextNode(parseInt(currentPage)-1));
        }
        var numPage = "{{newCoursesPageTotal}}";
        if(currentPage >= numPage) {
            document.getElementById("btnNewAfter").remove();
            document.getElementById("btnNewLast").setAttribute("class", "page-item disabled");
        } else {
            var last = href.splice(pageIndexLocation, 1, parseInt(numPage) + 1);
            var after = href.splice(pageIndexLocation, 1, parseInt(currentPage)+1);

            document.getElementById("btnNewLast").childNodes[1].setAttribute("href", last);
            document.getElementById("btnNewAfter").childNodes[0].setAttribute("href", after);
            document.getElementById("btnNewAfter").childNodes[0].appendChild(document.createTextNode(parseInt(currentPage)+1));
        }
      </script>
    </div>

    <div>
        <h2 style="margin-left: 50px;">Best Category</h2>
        <div style="margin-left:20px;border-top: rgb(179, 178, 178) 2px solid;width:80%;">
            {{#each this.bestCategory}}
            <li style="font-weight:500;margin-left: 50px;margin-top:10px;list-style-type: circle;">{{this}}</li>
            {{/each}}
        </div>
    </div>
</div>
<script>
    document.querySelector(".nav-link.active").classList.remove("active");
    document.querySelector(".nav-link.home").classList.add("active");
    {
        {
            !-- const activities = document.getElementById("filter");
            activities.addEventListener("change", function () {
                if (activities.value == "rating") {
                    alert("Rating");
                }
                if (activities.value == "price") {
                    alert("Price");
                }
            }); --}
    }

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
    crossorigin="anonymous"></script>

<script >
    var category = ;
</script>