<div>
    <div style="margin:20px;">
        <span>Filter</span>
        <select class="form-control" style="width:120px;" id="filter">
            <option value="rating" selected="seleted">Rating</option>
            <option value="price">Price</option>
        </select>
    </div>
    <div>
        <h2 style="margin-left: 50px;">Favorite Courses</h2>
        <div class="d-flex flex-row flex-wrap" id="list-item">
            {{#each this.favoriteCourses}}
            <a href="/course/{{this._id}}" style="text-decoration: none;">
                <div class="d-flex flex-column flex-wrap mr-4 item-course">
                    <div>Tên bài giảng:{{this.name}}</div>
                    <div>Lĩnh vực:{{this.field}}</div>
                    <img src="{{this.image}}" />
                    <div>Tác giả:{{this.teacher.userName}}</div>
                    <div>
                        {{#times this.rating }}
                        <i class="fa fa-star" style="color:rgba(248, 211, 0, 0.849)"></i>
                        {{/times}}
                    </div>
                    <div>Số lượng người mua:{{this.student.length}}</div>
                    <div>Giá:{{this.price}}</div>
                    <div>Views: {{this.numViews}}<i style="margin-left: 2px;" class="fas fa-eye"></i></div>
                </div>
            </a>
            {{/each}}
        </div>
    </div>
    <div>
        <h2 style="margin-left: 50px;">Most Views Courses</h2>
        <div class="d-flex flex-row flex-wrap" id="list-item">
            {{#each this.mostViewCourses}}
            <a href="/course/{{this._id}}" style="text-decoration: none;">
                <div class="d-flex flex-column flex-wrap mr-4 item-course">
                    <div>Tên bài giảng:{{this.name}}</div>
                    <div>Lĩnh vực:{{this.field}}</div>
                    <img src="{{this.image}}" />
                    <div>Tác giả:{{this.teacher.userName}}</div>
                    <div>
                        {{#times this.rating }}
                        <i class="fa fa-star" style="color:rgba(248, 211, 0, 0.849)"></i>
                        {{/times}}
                    </div>
                    <div>Số lượng người mua:{{this.student.length}}</div>
                    <div>Giá:{{this.price}}</div>
                    <div>Views: {{this.numViews}}<i style="margin-left: 2px;" class="fas fa-eye"></i></div>
                </div>
            </a>
            {{/each}}
        </div>
    </div>
    <div>
        <h2 style="margin-left: 50px;">New Courses</h2>
        <div class="d-flex flex-row flex-wrap owl-carousel owl-theme" id="list-item" style="display: flex;">
            {{#each this.newCourses}}
            <div>

                <a href="/course/{{this._id}}" style="text-decoration: none;">
                    <div class="d-flex flex-column flex-wrap mr-4 item-course">
                        <div>Tên bài giảng:{{this.name}}</div>
                        <div>Lĩnh vực:{{this.field}}</div>
                        <img src="{{this.image}}" />
                        <div>Tác giả:{{this.teacher.userName}}</div>
                        <div>
                            {{#times this.rating }}
                            <i class="fa fa-star" style="color:rgba(248, 211, 0, 0.849)"></i>
                            {{/times}}
                        </div>
                        <div>Số lượng người mua:{{this.student.length}}</div>
                        <div>Giá:{{this.price}}</div>
                        <div>Views: {{this.numViews}}<i style="margin-left: 2px;" class="fas fa-eye"></i></div>
                    </div>
                </a>
            </div>
            {{/each}}


        </div>
    </div>

    <div>
        <h2 style="margin-left: 50px;">Best Category</h2>
        <div style="margin-left:20px;border-top: rgb(179, 178, 178) 2px solid;width:80%;">
            {{#each this.bestCategory}}
            <li style="font-weight:500;margin-left: 50px;margin-top:10px;list-style-type: circle;">{{this}}</li>
            {{/each}}
        </div>
    </div>
    <nav aria-label="...">
        <ul class="pagination center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active">
                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>
<script>
    document.querySelector(".nav-link.active").classList.remove("active");
    document.querySelector(".nav-link.home").classList.add("active");
    const activities = document.getElementById("filter");
    activities.addEventListener("change", function () {
        if (activities.value == "rating") {
            alert("Rating");
        }
        if (activities.value == "price") {
            alert("Price");
        }
    });

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
    crossorigin="anonymous"></script>
<script>
    $('.owl-carousel').owlCarousel({
        loop: true,
        margin: 10,
        responsiveClass: true,
        responsive: {
            0: {
                items: 1,
                nav: true
            },
            600: {
                items: 3,
                nav: false
            },
            1000: {
                items: 5,
                nav: true,
                loop: false
            }
        }
    })
</script>