<div>
    <div style="margin:20px;">
        <span>Filter</span>
        <select class="form-control" style="width:120px;" id="filter">
            <option value="rating" selected= "seleted">Rating</option>
            <option value="price">Price</option>
        </select>
    </div>
    <div>
        <h2 style="margin-left: 50px;">Favorite Courses</h2>
        <div class="d-flex flex-row flex-wrap" id="list-item">
            {{#each this.favoriteCourses}}
            <a href="/course/{{this._id}}" style="text-decoration: none;">
                <div class="d-flex flex-column flex-wrap mr-4 item-course">
                    <div>Tên bài giảng:{{this.name}}</div>
                    <div>Lĩnh vực:{{this.field}}</div>
                    <img src="{{this.image}}" />
                    <div>Tác giả:{{this.teacher.userName}}</div>
                    <div>
                        {{#times this.rating }}
                        <i class="fa fa-star" style="color:rgba(248, 211, 0, 0.849)"></i>
                        {{/times}}
                    </div>
                    <div>Số lượng người mua:{{this.student.length}}</div>
                    <div>Giá:{{this.price}}</div>
                </div>
            </a>
            {{/each}}
        </div>
    </div>
    <div>
        <h2 style="margin-left: 50px;">Most Views Courses</h2>
        <div class="d-flex flex-row flex-wrap" id="list-item">
            {{#each this.mostViewsCourses}}
            <a href="/course/{{this._id}}" style="text-decoration: none;">
                <div class="d-flex flex-column flex-wrap mr-4 item-course">
                    <div>Tên bài giảng:{{this.name}}</div>
                    <div>Lĩnh vực:{{this.field}}</div>
                    <img src="{{this.image}}" />
                    <div>Tác giả:{{this.teacher.userName}}</div>
                    <div>
                        {{#times this.rating }}
                        <i class="fa fa-star" style="color:rgba(248, 211, 0, 0.849)"></i>
                        {{/times}}
                    </div>
                    <div>Số lượng người mua:{{this.student.length}}</div>
                    <div>Giá:{{this.price}}</div>
                </div>
            </a>
            {{/each}}
        </div>
    </div>
    <div>
        <h2 style="margin-left: 50px;">New Courses</h2>
        <div class="d-flex flex-row flex-wrap" id="list-item">
            {{#each this.newCourses}}
            <a href="/course/{{this._id}}" style="text-decoration: none;">
                <div class="d-flex flex-column flex-wrap mr-4 item-course">
                    <div>Tên bài giảng:{{this.name}}</div>
                    <div>Lĩnh vực:{{this.field}}</div>
                    <img src="{{this.image}}" />
                    <div>Tác giả:{{this.teacher.userName}}</div>
                    <div>
                        {{#times this.rating }}
                        <i class="fa fa-star" style="color:rgba(248, 211, 0, 0.849)"></i>
                        {{/times}}
                    </div>
                    <div>Số lượng người mua:{{this.student.length}}</div>
                    <div>Giá:{{this.price}}</div>
                </div>
            </a>
            {{/each}}
        </div>
    </div>
    <div>
        <h2 style="margin-left: 50px;">Best Category</h2>
        <ul>
            {{#each this.bestCategory}}
            <li>{{this.name}}</li>
            {{/each}}
        </ul>
    </div>
    <nav aria-label="...">
        <ul class="pagination center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active">
                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>
<script>
    document.querySelector(".nav-link.active").classList.remove("active");
    document.querySelector(".nav-link.home").classList.add("active");
    const activities = document.getElementById("filter");
    activities.addEventListener("change", function () {
        if (activities.value == "rating") {
            alert("Rating");
        }
        if (activities.value == "price") {
            alert("Price");
        }
    });

</script>