<div>
    <div style="margin:15px 100px 15px ;110px;display:flex;align-items:center;width:150px">
        <label style="margin-right:5px;">Filter:</label>
        <select class="form-control" id="filter-course" style="width:100px;">
            <option></option>
            <option value="rating" href="/search/rating">Rating</option>
            <option value="price" href="/search/price">Price</option>
        </select>
    </div>
    <div>
        <h2 style="margin-left: 110px;border-left:5px solid #3498db">&ensp;Courses</h2>

        <div class="d-flex flex-row flex-wrap" id="list-item">
            {{#each this.courses}}

            <a href="/course/{{this._id}}" style="text-decoration: none; color:black; font-size:15px; padding-top:10px">
                <div class="product-card">

                    <div class="product-tumb">
                        <img src="{{this.image}}">
                    </div>
                    <div class="product-details">
                        <span class="product-catagory">{{this.field}}</span>
                        <h4><a href="">{{this.name}}</a></h4>
                        <p>{{this.teacher.userName}}</p>
                        <div>
                            {{#times this.rating }}
                            <i class="fa fa-star" style="color:rgba(248, 211, 0, 0.849)"></i>
                            {{/times}}
                        </div>
                        <div>Sold {{this.student.length}}</div>
                        <div class="product-bottom-details">
                            <div class="product-price">${{this.price}}</div>
                            <span style="margin-left:80px">{{this.numViews}} <i style="margin-left: 2px;"
                                    class="fas fa-eye"></i></span>
                        </div>
                    </div>
                </div>

            </a>
            {{/each}}

        </div>
        <nav aria-label="..." >
        <ul class="pagination center" id="pageContainer">
            <li id="btnFirst" class="page-item">
                <a class="page-link" href="#" >First</a>
            </li>
            <li class="page-item" id="btnBefore"><a class="page-link" href="#" ></a></li>
            <li class="page-item active">
                <a class="page-link" href="#" id="btnCurrentPage"><span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item" id="btnAfter"><a class="page-link" href="#"></a></li>
            <li class="page-item" id="btnLast">
                <a class="page-link" href="#">Last</a>
            </li>
        </ul>
    </nav>
    <script>
        String.prototype.splice = function(idx, rem, str) {
                    return this.slice(0, idx) + str + this.slice(idx + Math.abs(rem));
                };

        var currentPage = "{{ currentPage }}";
        var currentIndex = document.getElementById("btnCurrentPage");

        var href = window.location.href;
        
        if(!href.includes('page=')){
            if(!href.includes('?')) {
                href = href + '?page=1';
            } else {
                href = href.splice(href.indexOf('?') + 1, 0, 'page=1&');
            }
        }

        currentIndex.appendChild(document.createTextNode(currentPage));
        var current = href.splice(href.indexOf('page=')+ 5, 1, currentPage);
        currentIndex.setAttribute("href", current);

        if(currentPage == 1) {
            document.getElementById("btnFirst").setAttribute("class", "page-item disabled");
            document.getElementById("btnBefore").remove();
        } else {
            var first = href.splice(href.indexOf('page=')+ 5, 1, '1');
            document.getElementById("btnFirst").childNodes[1].setAttribute("href", first);

            var beforePage = href.splice(href.indexOf('page=')+ 5, 1, parseInt(currentPage) - 1);
            document.getElementById("btnBefore").childNodes[0].setAttribute("href", beforePage);
            document.getElementById("btnBefore").childNodes[0].appendChild(document.createTextNode(parseInt(currentPage)-1));
        }
       
        var numPage = "{{totalPage}}";
        if (currentPage >= numPage) {
            document.getElementById("btnAfter").remove();
            document.getElementById("btnLast").setAttribute("class", "page-item disabled");
        } else {
            var last = href.splice(href.indexOf('page=')+ 5, 1, parseInt(numPage));
            var after = href.splice(href.indexOf('page=')+ 5, 1, parseInt(currentPage) + 1);

            document.getElementById("btnLast").childNodes[1].setAttribute("href", last);
            document.getElementById("btnAfter").childNodes[0].setAttribute("href", after);
            document.getElementById("btnAfter").childNodes[0].appendChild(document.createTextNode(parseInt(currentPage) + 1));
        }
        </script>
    </div>
</div>

<script>
    var activities = document.getElementById("filter-course");
    activities.addEventListener("change", function (event) {
        event.preventDefault();
        var options = activities.querySelectorAll("option");
        if (activities.value == "rating") {

            var currentHref = window.location.href;
            if(!currentHref.includes('sort=')) {
                if(!currentHref.includes('?')) {
                    currentHref = currentHref + '?sort=rating';
                } else {
                    currentHref = currentHref + '&sort=rating';
                }
            } else {
                String.prototype.splice = function(idx, rem, str) {
                    return this.slice(0, idx) + str + this.slice(idx + Math.abs(rem));
                };

                var queryIndex = currentHref.indexOf('sort=') + 5;
                currentHref = currentHref.splice(queryIndex, currentHref.length - queryIndex, 'rating');
            }

            window.location.href = currentHref;
        }
        if (activities.value == "price") {
            var currentHref = window.location.href;
            if(!currentHref.includes('sort=')) {
                if(!currentHref.includes('?')) {
                    currentHref = currentHref + '?sort=price';
                } else {
                    currentHref = currentHref + '&sort=price';
                }
            } else {
                String.prototype.splice = function(idx, rem, str) {
                    return this.slice(0, idx) + str + this.slice(idx + Math.abs(rem));
                };

                var queryIndex = currentHref.indexOf('sort=') + 5;
                currentHref = currentHref.splice(queryIndex, currentHref.length - queryIndex, 'price');
            }
            window.location.href = currentHref;
        }
    });

</script>