<div>
    <div style="margin:20px;">
        <span>Filter</span>
        <select class="form-control" style="width:120px;" id="filter">
            <option></option>
            <option value="rating">Rating</option>
            <option value="price">Price</option>
        </select>
    </div>
    <div class="d-flex flex-row flex-wrap" id="list-item">
        {{#each this.courses}}
        <a href="/course/{{this._id}}" style="text-decoration: none;">
            <div class="d-flex flex-column flex-wrap mr-4 item-course">
                <div>Tên bài giảng:{{this.name}}</div>
                <div>Lĩnh vực:{{this.field}}</div>
                <img src="{{this.image}}" />
                <div>Tác giả:{{this.teacher.userName}}</div>
                <div>
                    {{#times this.rating }}
                    <i class="fa fa-star" style="color:rgba(248, 211, 0, 0.849)"></i>
                    {{/times}}
                </div>
                <div>Số lượng người mua:{{this.student.length}}</div>
                <div>Giá:{{this.price}}</div>
            </div>
        </a>
        {{/each}}
    </div>
</div>

<script>
    document.querySelector(".nav-link.active").classList.remove("active");
    document.querySelector(".nav-link.home").classList.add("active");
</script>