<form class="form-upload-course">
  <h2>Upload Course</h2>
  <input type="text" placeholder="Name" id="name-course" />
  {{!-- <input type="text" placeholder="Field" id="field-course" /> --}}
  <select style="margin-top:10px;padding:5px;color:#00000096;" class="form-control" id="category-course">
    {{#each this.category}}
    <option>{{this.name}}</option>
    {{/each}}
  </select>
  <input type="text" placeholder="Main Content" id="main-content" />
  <input type="file" placeholder="Image" id="image-course" />
  <input type="number" placeholder="Price" id="price-course" />
  {{#times this.videoQuantity}}
  <div class="hide" id="container-video-{{{@index}}}">
    <input type="text" placeholder="Name video {{{@index}}}" id="name-video-course-{{{@index}}}" />
    <input type="file" placeholder="Video" id="video-course-{{{@index}}}" />
  </div>
  {{/times}}
  <button style="cursor: pointer; padding:10px;margin-top:5px;" class="add-video">THem video</button>
</form>
<div class="container mt-4 mb-4">
  <div class="row justify-content-md-center">
    <div class="col-md-12 col-lg-8">
      <h1 class="h2 mb-4">Detail Course</h1>
      <label>Describe the course in detail</label>
      <div class="form-group">
        <textarea id="editor"></textarea>
      </div>
      {{!-- <button class="btn btn-primary post-detail">Submit</button> --}}
      {{!-- <button class="btn-upload-course">
        Upload Course
      </button> --}}
    </div>
  </div>
</div>
<div class="container mt-4 mb-4">
  <div class="row justify-content-md-center">
    <div class="col-md-12 col-lg-8">
      <h1 class="h2 mb-4">Preview Course</h1>
      <label>Preview</label>
      <div class="form-group">
        <textarea id="editor1"></textarea>
      </div>
      <label for="input-done-course">Done</label>
      <input type="radio" id="input-done-course">
      <br />
      {{!-- <button class="btn btn-primary post-detail">Submit</button> --}}
      <button class="btn-upload-course">
        Upload Course
      </button>
    </div>
  </div>
</div>

<script src="/js/uploadCourse.js"></script>