<div class="container">
	<div class="row profile">
		{{> navbarTeacher}}
		<div class="col-md-9">
			<div class="profile-content">
				<h3>Teacher Information</h3>
				<div class="row-content">
					<div class="col-content">
						<p>Name:</p>
					</div>
					<div class="col-content">
						<input type="text" id="user-name-teacher" value="{{this.user.userName}}">
					</div>
				</div>
				<div class="row-content">
					<div class="col-content">
						<p>Email:</p>
					</div>
					<div class="col-content">
						<p>{{this.user.email}}</p>
					</div>
				</div>
				<div class="row-content">
					<div class="col-content">
						<p>Age:</p>
					</div>
					<div class="col-content">
						<input type="text" id="age-teacher" value="{{this.user.age}}">
					</div>
				</div>
					<div class="row-content">
					<div class="col-content">
						<p>Degree:</p>
					</div>
					<div class="col-content">
						<input type="text" id="degree-teacher" value="{{this.user.degree}}">
					</div>
				</div>
				<div class="row-content">
					<div class="col-content">
						<p>Phone Number:</p>
					</div>
					<div class="col-content">
						<input type="text" id="phone-teacher" value="{{this.user.phone}}">
					</div>
				</div>
				<div class="row-content">
					<div class="col-content">
						<p>Address:</p>
					</div>
					<div class="col-content">
						<input type="text" id="address-teacher" value="{{this.user.address}}">
					</div>
				</div>
			</div>
			<div class="card-footer bg-transparent">
				<a name="" id="btn-edit-profile-teacher" class="btn btn-primary" href="#" role="button"
					style="min-width: 150px;background-color:#5b9bd1;">Edit Profile</a>
			</div>
		</div>
	</div>
</div>

<br>
<br>
<script>
	document.querySelector(".navbar-profile.active").classList.remove("active")
    document.querySelector(".edit-profile.navbar-profile").classList.add("active")
</script>
<script src="/js/editProfileTeacher.js"></script>