<div hidden id="get-course-detail-id">{{this.course.detailContent}}</div>
<div hidden id="get-course-preview-id">{{this.course.previewContent}}</div>
<div hidden id="get-course-id">{{this.course._id}}</div>
<form class="form-update-course">
  <h2>Update Course</h2>
  <input type="text" placeholder="Name" id="name-course" value="{{this.course.name}}" />
  {{!-- <input type="text" placeholder="Field" id="field-course" value="{{this.course.field}}" /> --}}
  <select style="margin-top:10px;padding:5px;color:#00000096;" class="form-control" id="category-course">
    {{#each this.category}}
    <option>{{this.name}}</option>
    {{/each}}
  </select>
  <input type="text" placeholder="Main Content" id="main-content" value="{{this.course.mainContent}}" />
  <input type="file" placeholder="Image" id="image-course" />
  <input type="number" placeholder="Price" id="price-course" value="{{this.course.price}}" />
</form>
<div class="container mt-4 mb-4">
  <div class="row justify-content-md-center">
    <div class="col-md-12 col-lg-8">
      <h1 class="h2 mb-4">Detail Course</h1>
      <label>Describe the course in detail</label>
      <div class="form-group">
        <textarea id="editor">{{{this.course.detailContent}}}</textarea>
      </div>
      {{!-- <button  class="btn btn-primary post-detail">Submit</button> --}}
      {{!-- <button class="btn-update-course">
        Update Course
      </button> --}}
    </div>
  </div>
</div>
<div class="container mt-4 mb-4">
  <div class="row justify-content-md-center">
    <div class="col-md-12 col-lg-8">
      <h1 class="h2 mb-4">Preview Course</h1>
      <label>Preview</label>
      <div class="form-group">
        <textarea id="editor1">
          {{{this.course.previewContent}}}
        </textarea>
      </div>
      {{!-- <button  class="btn btn-primary post-detail">Submit</button> --}}
      <label for="input-done-upload-course">Done</label>
      <input type="radio" id="input-done-course">
      <br />
      <button class="btn-update-course">
        Update Course
      </button>
    </div>
  </div>
</div>

<script src="/js/updateCourse.js"></script>